@charset 'utf-8';

/*@import url('https://fonts.googleapis.com/css?family=Kanit:400i&display=swap');*/

body {
	max-width: 1100px;
	background-color: #0076ac;
	margin: 0 auto;
}

html {
	font-size: 16px;
}

* {
	color: #accccc;
	line-height: 1.4;
}

.hidden {
	display: none;
}

/* img */

.fluid_img {
	width: 100%;
}

.web img:hover,
.appli img:hover,
.movie img:hover {
	transform: scale(0.95);
	transition-duration: 0.4s;
	cursor: pointer;
}

.dtp img:hover {
	transform: scale(0.95);
	transition-duration: 0.4s;
	cursor: pointer;
}

.web .fluid_img,
.appli .fluid_img,
.dtp .fluid_img {
	max-width: 360px;
}

.movie .fluid_img {
	max-width: 280px;
}

.cd-jacket img {
	box-shadow: 2px 1px 1px rgba(200,200,200,0.3);
}

/*********
navbar 
********/

.navbar {
	position: fixed;
	/* ブラウザのメニューバーに隠れてしまわないように、必ず fixed 指定 */
	font-family: 'Kanit', sans-serif;
	font-style: italic;
	background-color: #333333;
	border-width: 0;
	font-size: 1.2rem;
	height: 64px;
	padding: 7px 5px 8px 5px;
	margin-bottom: 28px;
	border-bottom: solid 4px #0076ac;
}

/* navigation bar RWD対応 */

@media (max-width: 767px) {
	.navbar ul li {
		display: block;
		padding-top: 5px;
	}
}

@media (min-width: 768px) {
	.navbar ul li {
		display: inline-block;
		padding-top: 15px;
		list-style-type: none;
		padding-left: 12px;
	}
}

.navbar a {
	color: #accccc;
	text-decoration: none;
}

.navbar a:not(#logo):hover {
	color: #ccffff;
	transform: scale(1.15);
	transition-duration: 0.2s;
	padding-right: 5px;
	padding-left: 5px;
}

#logo {
	display: inline-block;
	font-size: 1.4rem;
	color: #accccc;
	padding-right: 25px;
	padding-left: 14px;
	padding-top: 12px;
/*	text-shadow: 1px 1px 1px rgba(0,0,255,0.6);*/
}

#logo:hover {
	color: #ccffff;
	text-decoration: none;
}

/* 767px以下ではメニューを、左端に展開 */

.navbar-header {
	position: relative;
}

@media (min-width: 768px) {
	#navDrawrBtn {
		display: none;
	}
}

@media (max-width: 767px) {
	.navbar {
/*		height: 62px;*/
	}
	
	#navDrawrBtn {
		position: fixed;
		right: 20px;
		top: 18px;
	}
	
	#navDrawrBtn:hover {
		cursor: pointer;
	}
	
/*
	.menu {
		color: #cccccc;
	}
	
*/
	.menu:hover {
		color: #ccffff;
	}
	
	#nav-bar ul {
		background-color: rgba(0,0,0,0.6);
		position: fixed;
		right: -4px;
		top: 52px;
		padding-right: 30px;
		padding-left: 20px;
		padding-bottom: 14px;
		padding-top: 12px;
		width: 140px;
		cursor: default;
		opacity: 0;
		transition-duration: 0.6s;
	}
	#nav-bar ul li {
		margin-top: 7px;
	}
	#nav-bar ul.menuOpen {
		cursor: pointer;
		opacity: 1;
		transition-duration: 0.4s;
	}
	
	.menu {
		display: none;
	}
	
	.menu.close-menu {
		display: block;
		font-size: 1.3rem;
		margin-top: 2px;
	}
	
	.fa-window-close.close-menu {
		display: none;
	}
	
	.fa-window-close {
		font-size: 1.4rem;
		margin-top: 6px;
		margin-right: 4px;
	}
	
/*
	.fa-window-close:hover {
		transform: scale(1.1);
		transition-duration: 0.2s;
	}
*/
}

/* container */

/* content-section */

.content-section {
	margin: 0 35px -40px 35px;
}

.content-category {
	padding-top: 78px;
/*	color: #cceeee;*/
	font-family: 'Kanit', sans-serif;
	font-style: italic;
/*	font-family: 'Monda', sans-serif;*/
	font-size: 1.8rem;
	text-shadow: 2px 1px 1px rgba(50,30,50,0.7);
}

.content-title {
	font-family: 'Kanit', sans-serif;
/*	font-family: 'Monda', sans-serif;*/
	font-size: 1.4rem;
	padding-top: 12px;
	padding-left: 12px;
}

/* article */

article {
	background-color: #333333;
	border-radius: 8px;
}

article p {
	font-size: 0.9rem;
}

article img {
	border-radius: 8px;
}

/* detail, explain */

.detail, .explain {
	padding: 8px 30px;
}

.detail a, .explain a {
	text-decoration: none;
}

.detail a:hover, .explain a:hover {
	color: #09f;
}

/*
*/

div.explain {
	padding-bottom: 12px;
}

.explain div {
	padding-top: 15px;
}

/***** 
vgrid (tileレイアウト) 
******/

.grid-items ul {
	margin: 10px;
}

.grid-items ul li {
	list-style-type: none;
	margin: 15px 24px 10px 5px;
}

/* DTPの画像はborder-radius ゼロに */

.grid-items img {
	border-radius: 0;
}


.grid-items li p {
	margin-top: 12px;
}

/* footer */

footer {
	background-color: #333333;
	margin: 60px 35px 22px 35px;
	border-radius: 8px;
	padding: 10px 15px;
}

/* 注釈的なコメント */
.comment {
	padding-top: 2px;
	font-size: 0.8rem;
}

/* gitHubロゴとtwitterロゴの上下位置調整 */
.sns_mono_adjust {
	display: inline-block;
	margin-right: 4px;
	margin-left: 0;
}

.sns_logo_mono {
	opacity: 0.8;
}

.sns_adjust {
	display: inline-block;
	margin-top: 8px;
	margin-right: 12px;
}

/* accordion menu - アコーディオンメニュー */

.navAccordion > dt, 
.navAccordion > dd {
	background-color: #147073;
	border-top: 1px solid #9cc3ca;
} 

.navAccordion > dt {
	position: relative;
	padding: 8px 16px 8px 10px;
	color: #accccc;
	cursor: pointer;
	outline: none;
	font-size: 0.95rem;
	font-weight: normal;
}

.navAccordion > dt:hover {
	color: #ccffff;
	transition-duration: 0.2s;
}

.navAccordion > dt::after {
	position: absolute;
	bottom: 0.5rem;
	right: 12px;
	font-family: FontAwesome;
	content: "\f078";
}

.navAccordion > dt.open::after {
	content: "\f077";
}

.navAccordion > dt:first-child {
	border-top: none;
}

.navAccordion > dt.open {
/*	background-color: #00aaff;*/
/*	background-color: #149093;*/
}

.navAccordion > dt:not(.open) {
	background-color: #0076ac;
}

.navAccordion > dd {
/*	background-color: #033a58;*/
/*	background-color: #accccc;*/
	background-color: #9cc3ca;
/*	background-color: #037a88;*/
	padding: 10px 12px 2px 12px;
}

.navAccordion > dd * {
	color: #147073;
}

.bio {
	margin-top: 20px;
	margin-bottom: 0;
}

/* nav-top - 現在位置を表す li の色を変える */

.nav-link {
	display: inline-block;
	height: 20px;
}

.nav-link.ahora {
	transform: scale(1.15);
	padding-right: 5px;
	padding-left: 5px;
	color: #ccffff;
}

/* URLの文字とマージン */
.url-of-works {
	display: inline-block;
	margin-top: 2px;
	margin-bottom: 6px;
	font-size: 0.95rem;
	color: #1498a3;
}

/* 作品名前 */
.title-of-works {
	font-family: 'Monda', sans-serif;
	font-size: 1.2rem;
	margin-top: -6px;
	margin-bottom: 8px;
}

/* lightbox 2 */
img.lb-image {
	border: none;
}

/* 自己紹介 */
.intro {
	margin-top: 12px;
	font-size: 0.9rem;
}

