@charset 'utf-8';

body {
	max-width: 1100px;
	background-color: #00aaff;
	margin: 0 auto;
}

html {
	font-size: 16px;
}

* {
	color: #669999;
	line-height: 1.5;
}

.hidden {
	display: none;
}

/* img */

.fluid_img {
	width: 100%;
}

.web img:hover,
.appli img:hover,
.movie img:hover {
	transform: scale(1.05);
	transition-duration: 0.4s;
	cursor: pointer;
}

.dtp img:hover {
	transform: scale(1.1);
	transition-duration: 0.4s;
	cursor: pointer;
}

.web .fluid_img,
.appli .fluid_img,
.dtp .fluid_img {
	max-width: 360px;
}

.movie .fluid_img {
	max-width: 280px;
}

/*********
navbar 
********/

.navbar {
	font-family: 'Monda', sans-serif;
	background-color: #333;
	border-width: 0;
	font-size: 1rem;
	padding: 7px 5px 8px 5px;
	margin-bottom: 30px;
}

/* navigation bar RWD対応 */

@media (max-width: 767px) {
	.navbar ul li {
		display: block;
		padding-top: 5px;
	}
}

@media (min-width: 768px) {
	.navbar ul li {
		display: inline-block;
		padding-top: 15px;
		list-style-type: none;
		padding-left: 12px;
	}
}

.navbar a, .navbar a:visited {
	color: #cccccc;
	text-decoration: none;
}

.navbar a:visited {
/*
	padding-right: 5px;
	padding-left: 5px;
*/
}

.navbar a:not(.logo):hover {
	color: #ccffff;
	transform: scale(1.15);
	transition-duration: 0.2s;
	padding-right: 5px;
	padding-left: 5px;
}

.logo {
	display: inline-block;
	font-size: 1.2rem;
	color: #ccc;
	padding-right: 25px;
	padding-left: 20px;
	padding-top: 14px;
}

.logo:hover {
	color: #ccffff;
	text-decoration: none;
}

/* container */

/*
.container {
}
*/

/* content-section */

.content-section {
	margin: 0 35px -40px 35px;
}

.content-category {
	padding-top: 80px;
	color: #cceeee;
	font-family: 'Monda', sans-serif;
	font-size: 1.8rem;
}

.content-title {
	font-family: 'Monda', sans-serif;
	font-size: 1.4rem;
	padding-top: 12px;
	padding-left: 12px;
}

/* article */

article {
	background-color: #cceeee;
	border-radius: 8px;
}

article p {
	font-size: 0.9rem;
}

article img {
	border-radius: 8px;
}

/* detail, explain */

.detail, .explain {
	padding: 8px 30px;
}

.detail a, .explain a {
	text-decoration: none;
}

.detail a:hover, .explain a:hover {
	color: #09f;
}

/*
.explain h3, .detail h3 {
	font-size: 1.1rem;
	margin-top: -6px;
	margin-bottom: 8px;
}
*/

div.explain {
	padding-bottom: 12px;
}

.explain div {
	padding-top: 15px;
}

/***** 
vgrid (tileレイアウト) 
******/

.grid-items ul {
	margin: 10px;
}

.grid-items ul li {
	list-style-type: none;
	margin: 15px 24px 10px 5px;
}

/* DTPの画像はborder-radius ゼロに */

.grid-items img {
	border-radius: 0;
}


.grid-items li p {
	margin-top: 12px;
}

/* footer */

footer {
	color: #ccc;
	background-color: #333;
	margin: 60px 35px 22px 35px;
	border-radius: 8px;
	padding: 10px 15px;
}

/* 注釈的なコメント */
.comment {
	padding-top: 2px;
	font-size: 0.8rem;
}

/* gitHubロゴの上下位置調整 */
.git_vertical_adjust {
	display: inline-block;
	margin-top: -8px;
}

/* accordion menu - アコーディオンメニュー */
.navAccordion > dt, 
.navAccordion > dd {
	background-color: #009c8f;
	border-top: 1px solid #cceeee;
} 

.navAccordion > dt {
	position: relative;
	padding: 8px 16px 8px 10px;
	color: #cceeee;
	cursor: pointer;
	outline: none;
	font-size: 0.95rem;
	font-weight: normal;
}

.navAccordion > dt:hover {
	color: #ffffff;
	transition-duration: 0.2s;
}

.navAccordion > dt::after {
	position: absolute;
	bottom: 0.5rem;
	right: 12px;
	font-family: FontAwesome;
	content: "\f078";
}

.navAccordion > dt.open::after {
	content: "\f077";
}

.navAccordion > dt:first-child {
	border-top: none;
}

.navAccordion > dt.open {
	background-color: #00aaff;
}

.navAccordion > dt:not(.open) {
	background-color: #009c8f;
}

.navAccordion > dd {
	border-left: solid 1px #eeeeee;
	border-right: solid 1px #eeeeee;
	background-color: #eeffff;
	color: #333333;
	padding: 10px 12px 2px 12px;
}

/* 現在位置を表す li の色を変える */

.nav-link {
	display: inline-block;
	height: 20px;
}

.nav-link.ahora {
	color: #00ffff;
	transform: scale(1.15);
	padding-right: 5px;
	padding-left: 5px;
}

/* URLの文字とマージン */
.url-of-works {
	display: inline-block;
	margin-top: 2px;
	margin-bottom: 6px;
	font-size: 0.95rem;
}

/* 作品名前 */
.title-of-works {
	font-family: 'Monda', sans-serif;
	font-size: 1.2rem;
	margin-top: -6px;
	margin-bottom: 8px;
}
