@charset 'utf-8';

/* 全体 */

html {
	font-size: 16px;
}

body {
	background-image: url('../img/bg_img/bg_pattern_asphalt06.png');
}

* {
	color: #666633;
}

* {
	line-height: 1.2;
}

img {
	max-width: 100%;
}

.flex-container {
	display: flex;
	align-items: flex-end;
}

.fluid-image {
	max-width: 100%;
}

/* wrapper */

.wrapper {
	max-width: 900px;
	min-height: 100vh;
	margin: 0 auto;
	padding: 0 30px;
	/* ←相対位置 */
	padding-bottom: 120px;
	/* ←footerの高さ */
	box-sizing: border-box;
	/* ←全て含めてmin-height:100vhに */
}

/* header */
header {
	position: relative;
}

.top-nav {
	top: 0;
	z-index: 1;
	position: fixed;
	width: 100%;
	/*	width: 100%;*/
	height: 64px;
	margin-right: auto;
	margin-left: auto;
	background-color: #c6c6c6;
}

@media (min-width: 900px) {
	/*
	.top-nav {
		width: 900px;
	}
*/
}

.nav-menu {
	position: absolute;
	top: 60px;
/*	right: 16px;*/
	right: -120px;
	list-style-type: none;
	background-color: rgba(200,200,200,0.85);
	padding-left: 3px;
	padding-right: 10px;
	padding-bottom: 6px;
	transition-property: right;
	transition-duration: 0.3s;
}

.nav-menu.menuOpen {
	right: 6px;
}

@media (min-width: 768px) {
	.nav-menu {
		top: 18px;
		left: 240px;
		background-color: transparent;
	}
}

.nav-menu > li {
	display: inline;
/*	padding-right: 5px;*/
	font-size: 1.1rem;
	line-height: 1.8;
	padding-left: 5px;
}

.nav-menu > li > a {
	color: inherit;
	text-decoration: none;
	padding: 1px 8px;
}

.nav-menu > li > a:hover {
	background-color: #cce3e3;
}

@media (min-width: 768px) {
	#navDrawrBtn {
		display: none;
	}
	.fa-window-close {
		display: none;
	}
}

@media (max-width: 767px) {
	#navDrawrBtn {
		position: fixed;
		top: 24px;
		right: 30px;
		font-family: 'Special Elite', sans-serif;
		box-shadow: 1px 2px 1px #666;
	}
	
	#navDrawrBtn:hover {
		top: 23px;
		box-shadow: 1px 1px 2px #333;
		background-color: #787878;
		color: #ededed;
		cursor: pointer;
	}
	
	.fa-window-close {
		font-size: 1.4rem;
		margin-top: 6px;
		margin-right: 4px;
	}
	
	.fa-window-close.close-menu {
		display: none;
	}
	
	.menu {
		display: none;
	}
	
	.menu.close-menu {
		display: block;
		font-size: 1.4rem;
		margin-top: 2px;
		color: #f0f;
	}
	
	.nav-menu > li {
		display: block;
	}
}

.dropdown-parent {
	position: relative;
}

.dropdown-menu {
	position: absolute;
	top: 42px;
	left: -45px;
	background-color: rgba(0, 205, 225, 0.6);
	border: none;
	box-shadow: 2px 1px 2px rgba(50, 105, 125, 0.6);
}

@media(min-width: 768px) {
	.dropdown-menu {
		top: -4px;
		left: 110px;
	}
}

.dropdown-menu li a {
	color: #666633;
	font-size: 1rem;
	padding: 3px 0 3px 10px;
}

.site-logo {
	margin-left: 15px;
	/*
	margin-right: 20px;
	margin-top: 6px;
*/
	position: absolute;
	top: 12px;
	left: 8px;
	/*
	background-image: url(../img/nav/logo.png);
	text-indent: -9999px;
*/
}

#gl_logo {
	width: 180px;
	height: 30px;
	display: inline-block;
	background-image: url(../img/nav/logo.png);
	text-indent: -9999px;
}

#gl_logo:hover {
	background-image: url(../img/nav/logo_hover.png);
	transition: .3s;
}

/* content-section */

.content-section {
	padding-top: 72px;
}

.content {
	width: 100%;
	border-radius: 6px;
	padding-bottom: 5px;
	background-color: #eaeaea;
}

/* フッターを常に最下部に表示させるため */
.content-section#contact {
	min-height: 100vh;
	margin-bottom: -80px;
}

.content h1 {
	padding: 15px 5px 10px 15px;
	font-size: 1.8rem;
}

/* Live */

.each_live,
.each_item {
	margin: 5px 10px 15px 15px;
	padding: 5px 5px 5px 0;
	background-color: #dcdcde;
	border-radius: 5px;
}

.each_live h2,
.each_item h2 {
	margin-top: 0;
	font-size: 1.6rem;
}

/* works */

.item-info {
	margin-top: 6px;
}

/* contact */

.contact {
	margin: 5px 10px 15px 15px;
	box-sizing: border-box;
	padding: 10px;
	background-color: #edeef3;
	border-radius: 5px;
}

.contact h2 {
	margin-top: -5px;
}

/* footer */

footer {
	width: 100%;
	background-color: #c6c6c6;
	text-align: center;
	padding: 15px 10px;
}

/* ここから slick によるカルーセル */
.gimmicCarousel {
	width: 92%;
	max-width: 640px;
	margin: auto;
/*	margin-bottom: 56px;*/
	margin-bottom: 76px;
	margin-top: 20px;
}

.gimmicCarousel ul.slider {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

.gimmicCarousel ul.slider li img {
	max-width: 100%;
	max-height: 100vh;
}

/* ここまで slick によるカルーセル */

/* トップページのcatch copy */
#catch-copy {
	font-family: 'Special Elite', sans-serif;
	font-size: 1.8rem;
	font-weight: bold;
/*	margin-top: 18px;*/
	padding-top: 40px;
	padding-bottom: 24px;
	padding-left: 20px;
}

.caution {
	color: #f72527;
}
